<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6" style="text-align: center">
      <h2>Please input a valid URL!</h2>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-4" style="text-align: center">
      {{!-- 返回主頁按鈕 --}}
      <button class="btn btn-link mx-2" title="Back to Home Page" onclick="location.href='http://localhost:3000'"><i
          class="fa-solid fa-house fa-2xl" style="color: #727579;"></i></button>
    </div>
  </div>
</div>